@mixin btn {
  background: $btnGrad;
  border: none;
  border-radius: 50px;
  margin: 0 auto;
  padding: 15px 40px;
  color: #fff;
}

@mixin position($pos-val, $top, $rit, $bot, $lft) {
  position: $pos-val;
  top: $top;
  right: $rit;
  left: $lft;
  @if $bot >0 {
    bottom: $bot;
  }
}

@mixin weight-size {
  font-weight: 300;
  font-size: 35px;
}

@mixin flexbox($gap, $dir) {
  display: flex;
  flex-direction: $dir;
  text-align: center;
  gap: $gap;
}
