$darkBlue: hsl(233, 26%, 24%);
$limeGreen: hsl(136, 65%, 51%);
$brightCyan: hsl(192, 70%, 51%);
$grayishBlue: hsl(233, 8%, 62%);
$p1: 15px;
$btnGrad: linear-gradient(to Right, $limeGreen, $brightCyan);
$LightGray: hsl(220, 14%, 96%);
$veryLightGray: hsl(0, 0%, 98%);
$white: #fff;