@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;700&display=swap');
@import './variables';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Public Sans", sans-serif;
}

nav {
    background-color: #fff;
}

@media screen and (max-width: 425px) {
    nav {
        background-color: #fff;
        display: flex;
        align-items: center;
        height: 60px;
        justify-content: space-between;
        padding: 0 25px;
        ul, button {
            display: none;
        }
    }

    .cta-section {
        display: flex;
        flex-direction: column;
        div {
            order: 3;
        }
    }

    .bg-intro {
        position: $rel;
        z-index: -1;
        bottom: 50px;
    }

    .image-mockups {
        margin: 0 auto;
        position: $abs;
        height: 471px;
        width: 365px;
        bottom: 160px;
        z-index: -1;
        left: 0;
        right: 0;
    }
}